.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  border: 4px solid #f60;
  font-size: 12vw;
  color: #f60;
  font-weight: bold;
  margin: 60px;
}

.clock.init {
  border-width: 0;
}

.clock.rest {
  border: 4px solid #09f;
}

.clock.rest .char {
  color: #09f;
}

.clock .char {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5vh;
}

.clock .char:nth-child(3) {
  width: 3vh;
}
